---
http_interactions:
- request:
    method: post
    uri: http://biotime8.zkteco.eu/api-token-auth/
    body:
      encoding: UTF-8
      string: password=Admin123&username=admin
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - POST, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e902da6a63aa944550f6841dec5c76ddd4a92bfc"}'
  recorded_at: Tue, 01 Oct 2024 14:00:29 GMT
- request:
    method: post
    uri: http://biotime8.zkteco.eu/personnel/api/areas/
    body:
      encoding: UTF-8
      string: '{"area_code":10001,"area_name":"Ahmed S O Baqtyan"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 201
      message: Created
    headers:
      allow:
      - GET, POST, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":23,"area_code":"10001","area_name":"Ahmed S O Baqtyan","parent_area":null}'
  recorded_at: Tue, 01 Oct 2024 14:00:29 GMT
recorded_with: VCR 6.3.1
