---
http_interactions:
- request:
    method: post
    uri: http://biotime8.zkteco.eu/api-token-auth/
    body:
      encoding: UTF-8
      string: password=Admin123&username=admin
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - POST, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e902da6a63aa944550f6841dec5c76ddd4a92bfc"}'
  recorded_at: Tue, 01 Oct 2024 15:02:34 GMT
- request:
    method: post
    uri: http://biotime8.zkteco.eu/iclock/api/terminals/
    body:
      encoding: UTF-8
      string: '{"sn":111111112,"alias":"Baqtyan Device","ip_address":"127.1.1.1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |2

        <html>
        <head>
        <title>500 Error</title>
        </head>
        <body>
        <h1>"The operation you selected is not working properly or the service is not available!"</h1>

        </body>
        </html>
  recorded_at: Tue, 01 Oct 2024 15:02:35 GMT
recorded_with: VCR 6.3.1
