---
http_interactions:
- request:
    method: post
    uri: http://biotime8.zkteco.eu/api-token-auth/
    body:
      encoding: UTF-8
      string: password=Admin123&username=admin
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - POST, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e902da6a63aa944550f6841dec5c76ddd4a92bfc"}'
  recorded_at: Tue, 01 Oct 2024 15:29:19 GMT
- request:
    method: get
    uri: http://biotime8.zkteco.eu/iclock/api/transactions/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":84,"next":"http://biotime8.zkteco.eu/iclock/api/transactions/?page=2","previous":null,"msg":"","code":0,"data":[{"id":1,"emp":null,"emp_code":"1","first_name":null,"last_name":null,"department":null,"position":null,"punch_time":"2024-09-05
        01:01:00","punch_state":"0","punch_state_display":"Check In","verify_type":0,"verify_type_display":"Any","work_code":null,"gps_location":"","area_alias":null,"terminal_sn":"","temperature":0.0,"is_mask":"-","terminal_alias":null,"upload_time":"2024-09-10
        14:34:58"},{"id":2,"emp":null,"emp_code":"4","first_name":null,"last_name":null,"department":null,"position":null,"punch_time":"2024-06-05
        23:59:39","punch_state":"0","punch_state_display":"Check In","verify_type":4,"verify_type_display":"Card","work_code":"0","gps_location":null,"area_alias":"empty","terminal_sn":"CLGY211460005","temperature":0.0,"is_mask":"-","terminal_alias":"zpad","upload_time":"2024-09-16
        10:44:07"},{"id":3,"emp":null,"emp_code":"4","firs[...]
[...]
- request:
    method: delete
    uri: http://biotime8.zkteco.eu/iclock/api/transactions/1/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 204
      message: No Content
    headers:
      allow:
      - GET, DELETE, HEAD, OPTIONS
      content-language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Oct 2024 15:29:21 GMT
recorded_with: VCR 6.3.1
