---
http_interactions:
- request:
    method: post
    uri: http://biotime8.zkteco.eu/api-token-auth/
    body:
      encoding: UTF-8
      string: password=Admin123&username=admin
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - POST, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e902da6a63aa944550f6841dec5c76ddd4a92bfc"}'
  recorded_at: Tue, 01 Oct 2024 15:07:13 GMT
- request:
    method: get
    uri: http://biotime8.zkteco.eu/iclock/api/terminals/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - GET, POST, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"msg":"","code":0,"data":[{"id":41,"sn":"111111112","ip_address":"127.1.1.1","alias":"Baqtyan
        Device","terminal_name":null,"fw_ver":null,"push_ver":null,"state":"3","terminal_tz":0,"area":null,"last_activity":null,"user_count":null,"fp_count":null,"face_count":null,"palm_count":null,"transaction_count":null,"push_time":null,"transfer_time":"00:00;14:05","transfer_interval":1,"is_attendance":1,"area_name":null}]}'
  recorded_at: Tue, 01 Oct 2024 15:07:13 GMT
[...]
- request:
    method: delete
    uri: http://biotime8.zkteco.eu/iclock/api/terminals/41/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-language:
      - en
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |2

        <html>
        <head>
        <title>500 Error</title>
        </head>
        <body>
        <h1>"The operation you selected is not working properly or the service is not available!"</h1>

        </body>
        </html>
  recorded_at: Tue, 01 Oct 2024 15:07:16 GMT
[...]
- request:
    method: delete
    uri: http://biotime8.zkteco.eu/iclock/api/terminals/41/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 404
      message: Not Found
    headers:
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"detail":"Not found."}'
  recorded_at: Tue, 01 Oct 2024 15:07:18 GMT
recorded_with: VCR 6.3.1
