---
http_interactions:
- request:
    method: post
    uri: http://biotime8.zkteco.eu/api-token-auth/
    body:
      encoding: UTF-8
      string: password=Admin123&username=admin
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - POST, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e902da6a63aa944550f6841dec5c76ddd4a92bfc"}'
  recorded_at: Tue, 01 Oct 2024 15:30:35 GMT
- request:
    method: get
    uri: http://biotime8.zkteco.eu/iclock/api/transactions/2/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - GET, DELETE, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":2,"emp":null,"emp_code":"4","first_name":null,"last_name":null,"department":null,"position":null,"punch_time":"2024-06-05
        23:59:39","punch_state":"0","punch_state_display":"Check In","verify_type":4,"verify_type_display":"Card","work_code":"0","gps_location":null,"area_alias":"empty","terminal_sn":"CLGY211460005","temperature":0.0,"is_mask":"-","terminal_alias":"zpad","upload_time":"2024-09-16
        10:44:07"}'
  recorded_at: Tue, 01 Oct 2024 15:30:35 GMT
recorded_with: VCR 6.3.1
