---
http_interactions:
- request:
    method: post
    uri: http://biotime8.zkteco.eu/api-token-auth/
    body:
      encoding: UTF-8
      string: password=Admin123&username=admin
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - POST, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e902da6a63aa944550f6841dec5c76ddd4a92bfc"}'
  recorded_at: Tue, 01 Oct 2024 15:12:11 GMT
- request:
    method: get
    uri: http://biotime8.zkteco.eu/iclock/api/terminals/
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - GET, POST, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"msg":"","code":0,"data":[{"id":42,"sn":"111111111111","ip_address":"127.1.1.1","alias":"Salem
        A O Baqtyan Device","terminal_name":null,"fw_ver":null,"push_ver":null,"state":"3","terminal_tz":0,"area":{"id":1,"area_code":"11","area_name":"Salem
        A O Baqtyan"},"last_activity":null,"user_count":null,"fp_count":null,"face_count":null,"palm_count":null,"transaction_count":null,"push_time":null,"transfer_time":"00:00;14:05","transfer_interval":1,"is_attendance":1,"area_name":"Salem
        A O Baqtyan"}]}'
  recorded_at: Tue, 01 Oct 2024 15:12:12 GMT
[...]
- request:
    method: put
    uri: http://biotime8.zkteco.eu/iclock/api/terminals/42/
    body:
      encoding: UTF-8
      string: '{"sn":"11111111223","alias":"Baqtyan''s device"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token e902da6a63aa944550f6841dec5c76ddd4a92bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-language:
      - en
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":42,"sn":"111111111111","ip_address":"127.1.1.1","alias":"Baqtyan''s
        device","area":1,"heartbeat":10}'
  recorded_at: Tue, 01 Oct 2024 15:12:13 GMT
recorded_with: VCR 6.3.1
